.git
.github
.astro
.wrangler
.pnpm-store
.vscode
.idea

target
node_modules
**/node_modules
**/dist
**/.astro

frontend/*
!frontend/src/
frontend/src/*
!frontend/src/data/
frontend/src/data/*
!frontend/src/data/categories.ts
extension
plans

.env
.env.*
data
*.db
*.db-shm
*.db-wal
*.log

.DS_Store
